
#main {
	width: 100%;
}

#logostyle {
	width: 98%;
	margin: auto;
}

#logostyle image {
	width: 100%;
	height: 400rpx;
}

#optionsstyle {
	width: 98%;
	margin: auto;
}

.image {
	width: 50rpx;
	height: 50rpx;
}

.text {
	font-size: 30rpx;
	font-weight: bold;
}

.example-body {
	/* #ifndef APP-NVUE */
	// display: block;
	/* #endif */
}

.grid-dynamic-box {
	margin-bottom: 15px;
}

.grid-item-box {
	flex: 1;
	// position: relative;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}

.grid-item-box-row {
	flex: 1;
	// position: relative;
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
}

.grid-dot {
	position: absolute;
	top: 5px;
	right: 15px;
}

.swiper {
	height: 420px;
}

/* #ifdef H5 */
@media screen and (min-width: 768px) and (max-width: 1425px) {
	.swiper {
		height: 630px;
	}
}

@media screen and (min-width: 1425px) {
	.swiper {
		height: 830px;
	}
}

/* #endif */
