#maim {
	margin: 0;
	width: 100%;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e7c9d4, #23a6d5, #23d5ab);
	background-size: 300% 300%;
	animation: gradientBG 8s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.login {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 100%;
	height: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.titletyle {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-top: 40rpx;
	padding-bottom: 40rpx;
}

.tenanttyle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.input-item {
	display: flex;
	margin-left: 32rpx;
	margin-right: 32rpx;
	height: 50px;
	align-items: center;
	border-bottom: 1px solid #efeff4;
	margin-bottom: 20rpx;
	margin-top: 30rpx
}

.title-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.title {
		font-size: 18px;
	}
}

.input {
	flex: 1;
}

.button {
	height: 50px;
	line-height: 50px;
	margin-top: 60rpx;
	margin-left: 32rpx;
	margin-right: 32rpx;
	border-radius: 50rpx;
	font-size: 20px;
	background-color: #008AFE;
	color: #FFFFFF;
	text-align: center;
}

.banquan {
	width: 100%;
	text-align: center;
	margin-top: 20%;
	bottom: 0rpx;

}

.banquandec {
	display: block;
}

.zhbiangen {
	margin-left: 20rpx;
	border-bottom: 1rpx solid #007AFF;
}
