page {
	background-color: #FFFFFF;
}

#main {
	width: 100%;
}

#fromId {
	width: 85%;
	margin: auto;
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

.gq {
	font-size: 35rpx;
	font-weight: bold;
	color: #4CD964;
}

.jdt {
	padding-top: 20rpx;
}

.tpplan {
	height: 48rpx;
}

.zhaopiang {
	width: 45rpx;
	height: 45rpx;
	position: absolute;
}

.tptitle {
	margin-left: 50rpx;
}

.img {
	margin-top: 20rpx;
}

.btnplan {
	width: 100%;
	text-align: center;
}

.plan {
	width: 100%;
	background: #fff;
	z-index: 10;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

.btn1 {
	width: 25%;
	margin: 10rpx 0rpx 0rpx 0rpx;
	border: 1px solid #42b983;
	background-color: #FFFFFF;
	font-size: 30rpx;
}

.btn2 {
	width: 40%;
	margin: 10rpx 20rpx 0rpx 20rpx;
	font-size: 30rpx;
}

#lc {
	margin-top: 20rpx;
	float: right;
}


.liucheng {
	width: 150rpx;
	color: #007AFF;
	padding-right: 25rpx;
}

.liucheng:active{
	color: #23A6D5;
}

button::after {
	border: none;
}

.btn5{
	margin-top: 10rpx;
	background-color: #FFFFFF;
	font-size: 30rpx;
	color: #007AFF;
}


.btn3 {
	width: 30%;
	margin-top: 10rpx;
	border: 1px solid #42b983;
	border-radius: 0rpx;
	border-top-left-radius: 40rpx;
	border-bottom-left-radius: 40rpx;
	background-color: #FFFFFF;
	font-size: 30rpx;
}

.btn4 {
	width: 30%;
	margin-top: 10rpx;
	border: 1px solid #42b983;
	border-radius: 0rpx;
	border-top-right-radius: 40rpx;
	border-bottom-right-radius: 40rpx;
	background-color: #FFFFFF;
	font-size: 30rpx;
}