#control {
	width: 100%;
	height: 75rpx;
}

#plan {
	width: 100%;
	margin: auto;
	margin-bottom: 10rpx;
	position: fixed;
	z-index: 9999;
	background-color: #FFFFFF;
}

.tabclass {
	width: 96%;
	margin: auto;
}

#optionsstyle {
	width: 18%;
	height: 100%;
	float: left;
	display: inline;
	position: fixed;
	background-color: #FFFFFF;
}

.content {
	width: 83%;
	float: left;
	display: inline;
	margin-left: 17%;
}

.grid-item-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20rpx 0;
}

.checked {
	border-bottom: 4rpx solid #007AFF;
}
