page {
	background-color: #f5f5f5;
}

#main {
	width: 96%;
	margin: auto;
	background: #FFFFFF;
	padding-top: 10rpx;
}

#form {
	width: 85%;
	margin: auto;
}

.btnplan {
	width: 100%;
	text-align: center;
}

.btnclass {
	width: 96%;
	height: 80rpx;
	background: #fff;
	z-index: 10;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}

.btn {
	width: 40%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10rpx;
	margin-top: 10rpx;
}
